name: Build and Push to Docker
on:
    push:
        branches:
            - 'main'
    workflow_dispatch:
jobs:
    cd-staging:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: './.github/actions/build-dockerfile'
              with:
                  docker-username: ${{ secrets.DOCKER_USERNAME }}
                  docker-password: ${{ secrets.DOCKER_PASSWORD }}
                  docker-repository: 'lpa-controller'
